<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{ l10n['index_title'] }}</title>
	 <link rel="stylesheet" href="/css/main4.css">
	 {% block head %}
	 {% endblock %}
</head>
<body>
	<section class="main-container">
		{% block header %}
		{% endblock %}
		{% block content %}	
		{% endblock %}
	</section>
	{% block footer %}
		<section class="main__partners">
			<div class="main__wrapper">
			<h2>Наши партнёры</h2>
			<ul class="main__partners-list">
				<li class="main__partner">
					<div class="main__partner-logo-container">
						<img
						src="/img/yu-sng-logo@1x.png 1x"
						srcset="/img/yu-sng-logo@1x.png 1x, /img/yu-sng-logo@2x.png 2x"
						alt="лого Совета по делам молодежи государств-участников СНГ"
						width="100"
						height="95">
					</div>					
					<p>
					Совет по делам молодежи государств-участников СНГ
					</p>
				</li>
				<li class="main__partner">
					<div class="main__partner-logo-container">
						<img
							src="/img/rgyl-loco@1x.png"
							srcset="/img/rgyl-loco@1x.png 1x, /img/rgyl-loco@2x.png 2x"
							alt="лого Российской государственной библиотеки для молодежи"
							width="100"
							height="116">
					</div>
					<p>
						Российская государственная библиотека для молодежи
					</p>
				</li>
				<li class="main__partner">
					<div class="main__partner-logo-container">
						<img
							src="/img/iac-logo@1x.png"
							srcset="/img/iac-logo@1x.png 1x, /img/iac-logo@2x.png 2x"
							alt="лого Информационно-аналитического Центра МГУ"
							width="100"
							height="51">
					</div>
					<p>
						Информационно-аналитический Центр МГУ
					</p>
				</li>
				<li class="main__partner">
					<div class="main__partner-logo-container">
						<img
							src="/img/mc-logo@1x.png"
							srcset="/img/mc-logo@1x.png 1x, /img/mc-logo@2x.png 2x"
							alt="лого Молодежного центра города Калининграда"
							width="100"
							height="109">
					</div>
					<p>
						«Молодежный центр» города Калининграда
					</p>
				</li>
				<li class="main__partner">
					<div class="main__partner-logo-container">
						<img
							src="/img/nic-logo@1x.png"
							srcset="/img/nic-logo@1x.png 1x, /img/nic-logo@2x.png 2x"
							alt="лого Научно-исследовательского центра «Молодежь» (Казахстан)"
							width="100"
							height="100">
					</div>
					<p>
						Научно-исследовательский центр «Молодежь» (Казахстан)
					</p>
				</li>
				<li class="main__partner">
					<div class="main__partner-logo-container">
						<img
							src="/img/rifsh-logo-2@1x.png"
							srcset="/img/rifsh-logo-2@1x.png 1x, /img/rifsh-logo-2@2x.png 2x"
							alt="лого Республиканского института высшей школы (Беларусь) "
							width="100"
							height="48">
					</div>
					<p>
						Республиканский институт высшей школы (Беларусь) 
					</p>
				</li>
			</ul>
			</div>
		</section>
		<footer class="page-footer">
			<div class="page-footer__wrapper">
				<div class="page-footer__contacts-div">
				{{ l10n['footer_address'] }}
				<br>
				<a href="https://goo.gl/maps/Q4yETovT47Xn3QqP6">{{ l10n['look_at_map'] }}</a>
				<br><br>
				+7 499 215-65-65, {{ l10n['phone_ad'] }} 1070
				<br><br>
				<a href="mailto:library@mirea.ru">library@mirea.ru</a>
				<br><br>
				<span class="page-footer__copyright"></span>
					&copy; {{ l10n['copyright'] }}
				</span>
				</div>
				<div class="page-footer__links">
				<ul>
					<li><a href="https://www.mirea.ru/about/the-structure-of-the-university/educational-scientific-structural-unit/institute-of-youth-policy-and-international-relations">{{ l10n['about_impmo_footer_link'] }}</a></li>
					<li><a href="https://library.mirea.ru">{{ l10n['ntb_mirea_footer_link'] }}</a></li>
					<li><a href="https://minobrnauki.gov.ru/">{{ l10n['minobr_footer_link'] }}</a></li>
				</ul>        
				</div>
			</div>
		</footer>
	{% endblock %}
	<script src="/bundle3.js"></script>
</body>
</html>
