{% extends "base.html.twig" %}

{% block header %}
<section class="main-container__background">
<section class="main-screen main-screen--heigh">
	<div class="main-screen__wrapper">
	  <div class="page-header">        
		<a class="logo" href="/">
		  <img
		  style="width: 90px; height: 127px;"
		  src="/img/logo_minobr@1x.png"
		  srcset="/img/logo_minobr@1x.png 1x, /img/logo_minobr@2x.png 2x"
		  alt="лого Минобрнауки России"
		  width="90"
		  height="127">
		</a>
		<a class="logo" href="/">
		  <!--1x 90px, 2x 180-->
		  <img
		  src="/img/logo_mirea@1x.png"
		  srcset="/img/logo_mirea@1x.png 1x, /img/logo_mirea@2x.png 2x"
		  alt="лого РТУ МИРЭА"
		  width="90"
		  height="115">
		</a>
		<h1>
			{{ l10n['index_title'] }}
		</h1>
		<div class="page-header__menu">
			<ul class="page-header__menu-list">
				<li><a href="#">{{ l10n['top_menu_link-news'] }}</a><button type="button" class="page-header__menu-colse-button"></button></li>
				<li><a href="#">{{ l10n['top_menu_link-latest'] }}</a></li>
				<li><a href="#">{{ l10n['top_menu_link-collections'] }}</a></li>
				<li><a href="#">{{ l10n['top_menu_link-popular'] }}</a></li>   
			</ul>
			<ul class="page-header__submenu-list">
				<li><a href="/{{ locale }}/about.html">{{ l10n['top_menu_link-about'] }}</a></li>
				<li><a href="#">{{ l10n['top_menu_link-statistics'] }}</a></li>
				<li><a href="/{{ locale }}/help.html">{{ l10n['top_menu_link-help'] }}</a></li>
				<li class="page-header__mobile-menu-only-item">
					<a href="/ru" class="page-header__locale-switch-link">Рус</a>
					&nbsp;/
					<a href="/en" class="page-header__locale-switch-link">Eng</a>
				</li> 
			</ul>
		</div>
		<button class="menu-toggle" type="button" aria-label="Переключатель отображения меню" aria-pressed="false">              
		</button>
		<div class="page-header__right-menu">
		  <ul class="page-header__right-menu-list">
			<li><a href="/ru" class="page-header__locale-switch-link">Рус</a></li>
			<li>/&nbsp;<a href="/en" class="page-header__locale-switch-link">Eng</a></li>
		  </ul>
		</div>
	  </div>
	</div>
	<div class="page-header__blackout"></div>
  </section>
{% endblock %}

{% block content %}
<section class="main">
	<div class="main__wrapper">
		<section id="root" class="main__search">
			<form action="" class="main__search-form">
			<div class="main__search-form-fields">
				<input id="search" type="text" placeholder=""/>
				<label class="visually-hidden" for="search">{{ l10n['search_btn'] }}</label>
				<button type="submit">{{ l10n['search_btn'] }}</button>
			</div>
			</form>
		</section>
		<section class="main__info">
			<section class="main__news">
				<h2>{{ l10n['last_novels'] }}</h2>
				<ul class="main__news-list">
					{% for novel in novels %}
						<li class="main__news-list-item">
							<span>3 декабря</span>
							<h3>
								{{ novel.title | raw }}
							</h3>
								{{ novel.body | raw }}
							<a href="/{{ locale }}/novel/{{ novel.slug }}">{{ l10n['read_link'] }}</a>
							</p>
						</li>
					{% endfor %}
				</ul>
			</section>
			<section class="main__fresh-arrivals">
				<h2>{{ l10n['new-books'] }}</h2>
				<ul class="main__fresh-arrivals-list">
					{% for book in books %}
						<li class="main__fresh-arrivals-list-item">
							<!--<a class="main__fresh-arrival-picture" href="/{{ locale }}/resource/{{ book.id }}">
								<img src="/thumbs/{{ book.file.thumb }}" width="100" />
							</a>-->
							<p>
							<a href="/{{ locale }}/resource/{{ book.id }}">{{ book.title }}</a>
							{{ book.year }}{{ locale == 'ru' ? ' г.' : '' }}
							, 
							{{ book.pages }} {{ l10n['pages'] }} 
							<br>
							
							</p>
						</li>
					{% endfor %}
				</ul> 
			</section>

			<section class="main__collections">
				<h2>{{ l10n['colections'] }}</h2>
				<ul class="main__collections-list">
				  <li class="main__collections-list-item">
					<h3>{{ l10n['countries'] }}</h3>
					<ul>
						{% for country in countries %}
							{% if country.name and  country.books_count %}
								<li>
									<a href='/{{ locale }}/search?entity=Book&filter=[{"country":{"$in":[{{ country.id }}]}}]'>
										{{ country.name }} — {{ country.books_count }}
									</a>
								</li>
							{% endif %}
				  		{% endfor %}
					</ul>					
				  </li>
				  <li class="main__collections-list-item">
					<h3>{{ l10n['international_organizations'] }}</h3>
					<ul>
						{% for organization in organizations %}
							{% if organization.name and  organization.books_count %}
							<li>
								<a href='/{{ locale }}/search?entity=Book&filter=[{"organization":{"$in":[{{ organization.id }}]}}]'>
								{{ organization.name }} - {{ organization.books_count }}
								</a>
							</li>
							{% endif %}
						{% endfor %}
					</ul>
				  </li>
				</ul> 
			  </section>
			  <section class="main__populars">
				<h2>{{ l10n['popular-books'] }}</h2>
				<ul class="main__populars-list">
					{% for book in populars %}
					<li class="main__populars-list-item">
						<!--<a class="main__fresh-arrival-picture" href="/{{ locale }}/resource/{{ book.id }}">
							<img src="/thumbs/{{ book.file.thumb }}" width="100" />
						</a>-->
						<p>
						<a href="/{{ locale }}/resource/{{ book.id }}">{{ book.title }}</a>
						{{ book.year }}{{ locale == 'ru' ? ' г.' : '' }}
						,
						{{ book.pages }} {{ l10n['pages'] }} 						
						<br>
						</p>
					</li>
				  	{% endfor %}			  
				</ul> 
			  </section>
		</section>
	</div>
</section>
</section>
{% endblock %}